body{
    background-color: #EEE;
}

.topo{
    background-color:#CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    padding: 18px 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topo p{
    color: #fff;    
}
.topo p:first-child{
    font-size: 44px;
    font-family: 'Righteous', cursive;
}
.topo p:last-child{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.corpo{
    margin: 92px 0;
    padding: 32px 19px;    
}
.corpo>p{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #333333;
}
.corpo img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.pratos{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 27px;
}
::-webkit-scrollbar {
    width: 0px;
}
.pratos:last-child{
    margin-bottom: -20px;
}
.pratos>div{
    width: 172px;
    margin-top: 17px;
    margin-right: 16px;
    padding: 18px 14px;    
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.pratos>div p{
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    text-align: justify;
}
.pratos>div>p:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.pratos>div>p:nth-child(3){
    font-size: 15px;
    color: #a6a6a6;   
}
.pratos>div span{
    display: flex;
    flex-direction: row;  
    position: relative;  
}
.pratos>div>span>p{
    font-size: 16px;
    color: #000; 
}
.adicionar{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}
.adicionar span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

.adicionar span:first-child{
    color: red;
    cursor: pointer;
}

.adicionar span:last-child{
    color: green;
    cursor: pointer;
}

.base{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.base div{
    background-color: #CBCBCB;
    border-radius: 50px;
    width: 90%;
    height: 61px;
    padding: 8px 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.base div p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.borda-verde{
    border-style: inset;
    border: 4px solid #32B72F;
    padding: 14px 10px !important;
}

.escondido{
    display: none;
}

/*font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;*/